/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

body{
    /* font-family: "Bebas Neue"; */
    font-family: "Montserrat", serif;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    background-image: linear-gradient(to top, #0fd850 20%, #f9f047 70%);
    /* background-color: red;  */
    /* background-image: url(); */
}
#board { 
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}


